<p translate>Test</p>

<div class="row" ng-show="AILoading">
	<div class="loading">
		<!--<div ng-activity-indicator class="box-spinner"></div>-->
		<div class="loading-text">GEOLOCATIONG</div>
	</div>
</div>


<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6">
		<a href="" ng-click="parking()" class="btn btn-primary btn-lg btn-block">Parking</a>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
		<a href="" ng-click="bikesharing()" class="btn btn-info btn-lg btn-block">Bike Sharing</a>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6">
		<a href="" ng-click="bus()" class="btn btn-warning btn-lg btn-block">Bus</a>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
		<a href="" ng-click="settings()" class="btn btn-default btn-lg btn-block">Settings</a>
	</div>
</div>
