<p translate>Test</p>

<div ng-show="loading" class="overlay">
	<div class="spinner col-lg-12 col-xs-12">
		<div class="spinner-content">
		<div id="circleG">
			<div id="circleG_1" class="circleG"></div>
			<div id="circleG_2" class="circleG"></div>
			<div id="circleG_3" class="circleG"></div>
		</div>
		<div>GEOLOCATING</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6 col-xs-6">
		<a href="" ng-click="parking()" class="btn btn-primary btn-lg btn-block">Parking</a>
	</div>
	<div class="col-lg-6 col-xs-6">
		<a href="" ng-click="bikesharing()" class="btn btn-info btn-lg btn-block">Bike Sharing</a>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-xs-6">
		<a href="" ng-click="bus()" class="btn btn-warning btn-lg btn-block">Bus</a>
	</div>
	<div class="col-lg-6 col-xs-6">
		<a href="" ng-click="settings()" class="btn btn-default btn-lg btn-block">Settings</a>
	</div>
</div>